@charset "UTF-08";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #004aad;
    background-size: contain;
    background-repeat: no-repeat;
}

header {
    background-color: white;
}

menu {
    display: block;
    text-align: center;
    padding: 5px;
}

menu li {
    display: inline-block;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.445);
}

menu a {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

menu li:hover {
    background-color: #004aad;
}

menu a:hover {
    color: white;
    font-weight: bolder;
    font-size: 1.1em;
}

section#sociais {
    text-align: right;
}

section#sociais img {
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.548);
    box-sizing: border-box;
    
}

section#sociais img:hover {
    transform: translate(-2px, -2px);
    border: 1px solid rgba(255, 255, 255, 0.541);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;

}